{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4bf48f78b4.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    

    <title>Link Tree</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>




    <nav class="navbar navbar-expand-lg  navbar-light " style="
    background-color: #bacee0;
">
        <a class="navbar-brand" href="#" style="
        color: black;
        font-size: 25px;
    ">Link Tree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'create' %}">Create</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'priview' %}">Preview</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'edit' %}">Edit</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
                

            </ul>
        </div>
    </nav>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Alert !</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="mainbox">
        <div class="innerbox">
            <div class="titlebox">
                <div class="contentbox">
                <a href="{% url 'create' %}" class="btn">Create your profile</a>
                <a href="{% url 'priview' %}" class="btn">Preview your profile</a>
                <a href="{% url 'edit' %}" class="btn">Edit your profile</a>
                </div>
                
                <div class="title">
                    
                    <p style="font-size: 35px;">Shivam Verma</p>
                    <p style="font-size: 22px;">Web developer</p>
                </div>
            </div>

            <div class="contentbox">
                <div class="cardbox">
                    <a href="https://codershiv.live/" target="_blank" style="font-size: 18px;">
                        Portfolio:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://codershiv.live/ </p>
                    </a>

                </div>
                <div class="cardbox">
                    <a href="https://drive.google.com/file/d/1_slilhEpS5E7zepPfi73uFBXwrPwcETW/view?usp=sharing"
                        target="_blank" style="font-size: 18px;">
                        Resume:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://drive.google.com/file/d/1_slilhEpS5E7zepPfi73uFBXwrPwcETW/view?usp=sharing </p>
                    </a>

                </div>
                <div class="cardbox">
                    <a href="https://codershiv.live/" target="_blank" style="font-size: 18px;">
                        Website:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://codershiv.live/ </p>
                    </a>
                </div>
            </div>

            <h2>
                <p style="text-align: center;">Social media</p>
            </h2>
            <div class="contentbox">
                <div class="cardbox">
                    <a href="https://www.linkedin.com/in/codershiv/" target="_blank" style="font-size: 18px;">
                        LinkedIn:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://www.linkedin.com/in/codershiv/  </p>
                    </a>

                </div>
                <div class="cardbox">
                    <a href="https://www.instagram.com/shivamverma_1999/"
                        target="_blank" style="font-size: 18px;">
                        Instagram:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                           https://www.instagram.com/shivamverma_1999/ </p>
                    </a>

                </div>
                <div class="cardbox">
                    <a href="https://www.facebook.com/profile.php?id=100008030318260" target="_blank" style="font-size: 18px;">
                        Facebook:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://www.facebook.com/profile.php?id=100008030318260 </p>
                    </a>
                </div>
            </div>
            <h2>
                <p style="text-align: center;">Coding Plateform</p>
            </h2>
            <div class="contentbox">
                <div class="cardbox">
                    <a href="https://www.hackerrank.com/coder_shiv1999?hr_r=1" target="_blank" style="font-size: 18px;">
                        HackerRank:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://www.hackerrank.com/coder_shiv1999?hr_r=1  </p>
                    </a>

                </div>
                <div class="cardbox">
                    <a href="https://www.codechef.com/users/coder_shiv99"
                        target="_blank" style="font-size: 18px;">
                        Codechef:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                          https://www.codechef.com/users/coder_shiv99 </p>
                    </a>

                </div>
                <div class="cardbox">
                    <a href="https://leetcode.com/coder_shiv1999/" target="_blank" style="font-size: 18px;">
                        Leetcode:
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://leetcode.com/coder_shiv1999/ </p>
                    </a>
                </div>
                <div class="cardbox">
                    <a href="https://github.com/coder-shiv1999" target="_blank" style="font-size: 18px;">
                        GitHub
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://github.com/coder-shiv1999 </p>
                    </a>
                </div>
                <div class="cardbox">
                    <a href="https://auth.geeksforgeeks.org/user/coder_shiv1999" target="_blank" style="font-size: 18px;">
                        GeeksForGeeks
                        <p style="
                        font-size: 15px;
                        word-break: break-all;">
                            https://auth.geeksforgeeks.org/user/coder_shiv1999 </p>
                    </a>
                </div>
            </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>